{% extends 'base.html' %}
{% block content %}

<div class="text-white mb-4">
    <h3 class="text-center tonote">{{item.name}}</h3>
    <h5 class="text-center tonote">Things you should know.</h5>
    <hr>
    <h5 class="text-center tonote">Definition</h5>
    <div class="card text-center">
        <div class="card-body">
        <h4 class="card-title">{{item.description}}</h4>
        </div>
    </div>
    <hr>
    <h5 class="text-center tonote">Laws</h5>
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="card shadow-lg text-center carousel-card">
                    <div class="card-body">
                    <h4 class="card-title">First Law of motion states Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, sapiente.</h4>
                    <p class="card-text"> -Sir Isaac Newton (date)</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card shadow-lg text-center carousel-card">
                    <div class="card-body">
                        <h4 class="card-title">Second Law of motion states Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, sapiente.</h4>
                    <p class="card-text"> -Sir Isaac Newton (date)</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card shadow-lg text-center carousel-card">
                    <div class="card-body">
                        <h4 class="card-title">Third Law of motion states Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, sapiente.</h4>
                    <p class="card-text"> -Sir Isaac Newton (date)</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon caroucelbutton" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon caroucelbutton" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr>
    <h5 class="text-center tonote">Formulas</h5>
    <div class="card-group">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">{{item.Formula_1}}</h4>
                <p class="card-text params">{{item.Param_1}}</p>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">{{item.Formula_2}}</h4>
                <p class="card-text params">{{item.Param_2}}</p>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">{{item.Formula_3}}</h4>
                <p class="card-text params">{{item.Param_3}}</p>
            </div>
        </div>
    </div>
    
{% endblock content %}